<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title th:text="${title}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet">
			<style>.err {color:red}</style>
	</head>
	
	<body class="container">
		<h1 class="display-4 mb-4" th:text="${title}"></h1>
		<p th:text="${msg}"></p>
		<p class="fs-4" th:text="${user}"></p>
		<br>
		<br>
		<form class="text-right" th:action="@{/logout}" method="post" style="display:inline;">
			<input type="submit" value="ログアウト" />
		</form>
		<br>
		<br>
		<table class="table">
			<thead>
				<tr><th>Id</th><th>UserName</th><th>Content</th><th>Datetime</th></tr>
			</thead>
			<tbody>
				<tr th:each="item :${data}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.userName}"class="text-break" style="width:10rem;"></td>
					<td th:text="${item.content}" class="text-break" style="width:35rem;"></td>
					<td th:text="${item.datetime}"></td>
					
					<td>
					<div th:if="${flag} eq ${item.userName}">
                    <form th:action="@{/edit}" method="get">
                        <input type="submit" class="btn btn-outline-primary" name="edit" value="編集">
                        <input type="hidden" name="id" th:value="${item.id}">
                    </form>
                    </div>
	                </td>
	                
	                <td>
					<div th:if="${flag} eq ${item.userName}">
                    <form th:action="@{/delete}" method="get">
                        <input type="submit" class="btn btn-outline-danger" name="delete" value="削除">
                        <input type="hidden" name="id" th:value="${item.id}">
                    </form>
                    </div>
                	</td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<form method="post" action="/secret" th:object="${formModel}">
			<div class="mb-3">
				<label for="content" class="form-label">投稿</label>
				<textarea type="text" class="form-control me-1"style="width:35rem;"
				name="content" th:value="*{content}" th:errorclass="err"></textarea>
				<div th:if="${#fields.hasErrors('content')}"
					th:errors="*{content}" th:errorclass="err">
				</div>
			</div>
			<div class="mb-3">
				<input type="submit" class="btn btn-primary px-4"
				value="Send" />
			</div>
		</form>
	</body>
</html>